@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
* {
    font-family: "Coiny", system-ui; 
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    color: rgb(165, 37, 165);
    
}

h1 {
    text-align: center;
    font-size: large;
    font-size: 5vw;
    padding-top: 15rem;
}

